<h1>
	About
</h1>

<p>
	This website was developed by <a href="https://www.linkedin.com/in/michael-hurley-3741b164">Mike</a> in Spring 2016 for the <a href="https://www.gvsu.edu/webteam/">GVSU Web Team</a>
</p>