<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <strong>First Name:</strong> <%= @first_name %>
    </p>
    <p>
      <strong>Last Name:</strong> <%= @last_name %>
    </p>
    <p>
      <strong>Message:</strong> 
      <br />
      <%= @message %>
    </p>
  </body>
</html>