<h2>
  New OrgSink Message
</h2>
<p>
  <strong>First Name:</strong> <%= @first_name %>
</p>
<p>
  <strong>Last Name:</strong> <%= @last_name %>
</p>
<p>
  <strong>Message:</strong> 
<br />
  <%= @message %>
</p>